*
body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(94,99,53,0.35057773109243695) 35%, rgba(0,212,255,1) 100%);
}
header h1{
    color: aqua;
}
h2 {
    margin-top: 25%;
    color: yellow;
    font-size: 1200%;
    padding-bottom: 300px;
}
h3 {
    margin-top: 25%;
    color: yellow;
    font-size: 1200%;
}


.container2 {
    align-items: center;
    width: 50%;
    margin-left: 25%;
    
}



section {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

input,
textarea {
    margin-bottom: 1rem;
}

.card {
    width: 32%;
    float: left;
    margin: 5px;
}
